<h1>Images</h1>

<% @image = @image.reverse %>
<% @image.each do |i| %>
  <%= image_tag i.url, width: 400%>
  <br>

  Tags:
  <% i.tag_list.each do |t| %>
    <%= link_to t, tagged_path(tag: t) %>
    <%end %>
  </br>
  <%= link_to 'view', image_path(i) %>
  </br>
  </br>
  <% end %>


<%= link_to 'Add an Image', new_image_path %>
