
<h1> Showing by tags </h1>

<%  @image.each do |i| %>
  <br>
  <%= i.name %> <br/>
  <%= image_tag i.url, width: 400 %><br/>

  Tags:
  <% i.tag_list.each do |t| %>
    <%= link_to t, tagged_path(tag: t) %>
  <%end %>
  <br>

<% end %>
